<% content_for :buttons do %>
  <% if can?(:destroy, @path) -%>
    <%= link_to(
      "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe,
      path_path(@path),
      method: :delete,
      data: { confirm: _('Are you sure?') },
      class: 'btn btn-danger'
    ) %>
  <% end %>
<% end %>
<% content_for :title, _('Editing path') %>
<% content_for :icon, @path.icon %>

<%= render 'form' %>
