<% content_for :buttons do %>
  <% if can?(:destroy, @ascent) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, @ascent, method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<% content_for :title, _('Editing Ascent') %>
<% content_for :icon, @ascent.icon %>

<%= render 'form', ascent: @ascent %>
