<% content_for :title, _('Editing inventory') %>
<% content_for :icon, @inventory.icon %>

<% content_for :buttons do %>
  <% if can?(:destroy, @inventory) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, route_inventory_path(@route, @inventory), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<%= render 'form' %>
