<%= render partial: 'routes/head', locals: { route: @route } %>
<%= render partial: 'routes/secondary_tab_nav', locals: { route: @route } %>

<%- @route_links_from.each do |route_link| -%>
  <%= render(
    partial: 'route_links/route_from',
    locals: {
      route_link: route_link,
      path_helper: :route_inventories_path
    }
  ) %>
<%- end -%>
<%- @route_links_to.each do |route_link| -%>
  <%= render(
    partial: 'route_links/route_to',
    locals: {
      route_link: route_link,
      path_helper: :route_inventories_path
    }
  ) %>
<%- end -%>

<ul class="content-list">
  <% @inventories.each do |inventory| %>
    <%= render(
      partial: 'inventories/content-list/default',
      locals: inventory
    ) %>
  <% end %>
</ul>

<%- if @removed_inventories.any? -%>
  <h3 class="mt-3"><%= icon_for 'remove' %> <%= _('Removed inventory') %></h3>

  <ul class="content-list">
    <% @removed_inventories.each do |inventory| %>
      <%= render(
        partial: 'inventories/content-list/default',
        locals: { item: inventory }
      ) %>
    <% end %>
  </ul>
<%- end -%>
