<% content_for :buttons do %>
  <% if can?(:update, @inventory) -%>
    <%= link_to(
      "<span class=\"fa fa-pencil\"></span> #{_('Edit')}".html_safe,
      edit_route_inventory_path(@route, @inventory),
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<% content_for :title, _('Inventory in route %{route}') % { route: @inventory.route.name } %>
<% content_for :icon, @inventory.icon %>

<%= link_to(
  "<span class=\"fa fa-arrow-left\"></span> #{_('Back to inventory')}".html_safe,
  route_inventories_path(@route),
  class: 'btn btn-outline-secondary mb-3'
) %>

<h3><%= _('Inventory information') %></h3>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= _('Anchor number') %></th>
      <td><%= @inventory.anchor_number %></td>
    </tr>
    <tr>
      <th><%= _('Role') %></th>
      <td><%= _(@inventory.role) %></td>
    </tr>
    <tr>
      <th><%= _('Description') %></th>
      <td><%= @inventory.description.blank? ? '-' : @inventory.description %></td>
    </tr>
    <tr>
      <th><%= _('Installed on') %></th>
      <td><%= @inventory.installed_at || '-' %></td>
    </tr>
    <tr>
      <th><%= _('Removed on') %></th>
      <td><%= @inventory.removed_at || '-' %></td>
    </tr>
  </tbody>
</table>

<h3><%= _('Product information') %></h3>

<h4>
  <%= @product.name %>
  <%- if @product.generic? -%>
    (<%= _('generic') %>)
  <%- end -%>
</h4>

<%= markdown(@product.description) unless @product.description.blank? %>

<%= thumbnail_tag(@product.photo, size: :list_preview, class: 'mb-3') %>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= _('Vendor') %></th>
      <td><%= if @product.vendor.present?
                link_to(@product.vendor.name, @product.vendor.url)
              else
                '-'
              end %></td>
    </tr>
    <tr>
      <th><%= _('Article number') %></th>
      <td><%= @product.article_number || '-' %></td>
    </tr>
    <tr>
      <th><%= _('Type') %></th>
      <td><%= @product.kind %></td>
    </tr>
    <tr>
      <th><%= _('Standard') %></th>
      <td><%= @product.standard || '-' %></td>
    </tr>
    <tr>
      <th><%= _('URL') %></th>
      <td><%= if @product.url.present?
                link_to(@product.url, @product.url)
              else
                '-'
              end %></td>
    </tr>
  </tbody>
</table>
