<h1>Topos</h1>

<ul class="content-list">
  <% @topos.each do |topo| %>
    <%= render partial: 'topos/content-list/default', :locals => { :item => topo } %>
  <% end %>
</ul>

<%= paginate @topos %>

