<% content_for :title, _('Table of Grades') %>
<% content_for :icon, Grade.icon %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <% @scales.each do |scale| %>
        <th><%= scale %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @table.each do |line| %>
      <tr>
        <% line.each do |grade| %>
          <%- unless grade.nil? -%>
            <td class="grade-<%= grade.category || 'unknown' %>"><%= grade.grade %></td>
          <%- else -%>
            <td>-</td>
          <%- end -%>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
