<%- controls ||= false %>
<li>
  <%- if controls -%>
    <div class="controls">
      <%= controls %>
    </div>
  <%- end -%>
  <div class="title">
    <%= link_to item.name, geo_ref_path(item) %>
    <small><%= _(item.class.name) %></small>
    <%= render partial: 'geo_refs/access_level_badge', :locals => { :geo_ref => item } %>
    <%= render partial: 'geo_refs/routes_grade_stats', :locals => { :geo_ref => item } %>
  </div>
  <% if item.description.present? %>
    <div class="description">
      <%= item.description %>
    </div>
  <% end %>
</li>
