<%- if can?(:read, user) && user.avatar.attached? -%>
  <%= image_tag(user.avatar.variant(resize_to_limit: [40,40]), class: 'img-circle') %>
<%- else -%>
  <%= image_tag asset_path("icons/avatar/thumb_default.png"), class: 'img-circle' %>
<%- end -%>
