<%- content_for :breadcrumb do -%>
  <%= render(
    partial: 'geo_refs/parent_breadcrumb_nav',
    locals: {
      geo_ref: @regulation.geo_ref,
      include_self: true
    }
  ) %>
<%- end -%>

<%- content_for :icon, @regulation.icon -%>
<%- content_for :title do -%>
  <%= @regulation.name %>
  <small><%= @regulation.abbr %></small>
<%- end -%>

<%- content_for :dropdown do -%>
  <%-
    dropdown_link_options = {
      class: 'dropdown-item',
      icon_class: ['fw']
    }
  -%>
  <% if can?(:update, @regulation) -%>
    <%= icon_link_to 'edit', _('Edit regulation'), edit_regulation_path(@regulation), **dropdown_link_options %>
  <% end -%>
  <% if can?(:create, RegulatedGeoRef.new(regulation: @regulation)) -%>
    <%= icon_link_to RegulatedGeoRef.icon, _('Add regulated location'), new_regulation_regulated_geo_ref_path(@regulation), **dropdown_link_options %>
  <% end -%>
<%- end -%>

<%= markdown(@regulation.body) if @regulation.body.present? %>

<ul class="content-list">
  <% @regulated_geo_refs.each do |regulated_geo_ref| %>
    <%= render(
      partial: 'regulated_geo_refs/content-list/default',
      locals: {
        item: regulated_geo_ref,
      }
    ) %>
  <% end %>
</ul>
