<% content_for :title, _('Unprocessable entity') %>
<% content_for :icon, 'exclamation-circle' %>

<div class="text-center">
  <h1 class="display-1">422</h1>
  <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
  <p class="lead">
    <%= _('You request is not accepted by the server because of invalid parameters.') %>
  </p>
</div>
