<template>
  <div class="autocomplete-input">
    <div v-if="hasValue">
      <b-input-group>
        <b-form-input disabled :value="currentValue"></b-form-input>
        <b-input-group-append>
          <b-button v-on:click="clearValue"><i class="fa fa-remove"></i></b-button>
        </b-input-group-append>
      </b-input-group>
    </div>
    <div v-else>
      <b-input-group>
        <b-input-group-prepend is-text>
          <i class="fa fa-search"></i>
        </b-input-group-prepend>
        <input
          class="form-control"
          @input="updateSearchResult($event.target.value)"
          autocomplete="off"
          placeholder="Type to search..."></input>
        <b-input-group-append>
          <b-button @click="revertValue"><i class="fa fa-undo"></i></b-button>
        </b-input-group-append>
      </b-input-group>
      <b-list-group v-if="showResult" class="autocomplete-list">
        <b-list-group-item
          v-if="allowFreetext"
          @click="selectFreetext"
          button><i class="fa fa-keyboard-o"></i> use input '{{query}}'</b-list-group-item>
        <b-list-group-item v-if="showNoResultDummy" disabled>
          no results for '{{searchResultQuery}}'
        </b-list-group-item>
        <b-list-group-item
          v-for="searchResultItem in searchResult"
          @click="selectValue(searchResultItem)"
          button>{{searchResultItem.label}}</b-list-group-item>
      </b-list-group>
    </div>
    <input :name="name" type="hidden" :value="formValue"></input>
  </div>
</template>

<script>
module.exports = {
  props: {
    name: {
      type: String,
      required: true
    },
    url: {
      type: String,
      required: true,
    },
    initialValue: {
      type: String,
      default: ''
    },
    initialId: {
      type: Number,
      default: null,
    },
    mode: {
      type: String,
      default: 'text'
    },
    searchParam: {
      type: String,
      default: 'term'
    },
    minLength: {
      type: Number,
      default: 3
    },
    allowFreetext: {
      type: Boolean,
      default: false
    }
  },
  data: function () {
    return {
      currentValue: this.initialValue,
      currentId: this.initialId,
      searchResult: [],
      query: '',
      searchResultQuery: '',
      isSearchPending: false,
    }
  },
  computed: {
    hasValue: function() {
      return this.currentValue != ''
    },
    showNoResultDummy: function() {
      return this.searchResultQuery && this.searchResult.length == 0
    },
    formValue: function() {
      if(this.mode == 'id') {
        return this.currentId;
      }
      return this.currentValue;
    },
    showResult: function() {
      if(this.allowFreetext && this.query != '') {
        return true
      }
      if(this.searchResultQuery != '') {
        return true
      }
      return false
    },
  },
  methods: {
    revertValue: function() {
      this.currentValue = this.initialValue;
      this.currentId = this.initialId;
    },
    resetSearch: function () {
      this.searchResult = [];
      this.searchResultQuery = '';
    },
    clearValue: function() {
      this.currentValue = '';
      this.currentId=null;
      this.query = '';
    },
    selectValue: function(value) {
      this.currentValue = value.value;
      this.currentId = value.id;
      this.resetSearch();
    },
    selectFreetext: function() {
      this.currentValue = this.query;
      this.resetSearch();
    },
    updateSearchResult: function(query) {
      this.query = query

      if(query.length < this.minLength) {
        this.resetSearch();
        return
      }

      if(this.searchResultQuery == this.query) { return }
      if(this.isSearchPending) { return }

      this.isSearchPending = true
      params = {};
      params[this.searchParam] = query;
      this.$http.get(this.url, { params: params })
        .then(response => {
          this.searchResult = response.data;
          this.searchResultQuery = query
          this.updateSearchResult(this.query)
        })
        .finally(() => {
          this.isSearchPending = false;
        });
    }
  }
}
</script>

<style>
  .autocomplete-list {
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    z-index: 999;
  }
</style>
