<template>
  <l-marker :lat-lng="[item.attributes.lat, item.attributes.lng]" @click="clicked">
    <l-tooltip>
      {{ item.attributes.name }}
    </l-tooltip>
  </l-marker>
</template>

<script>
import { L, latLng, marker } from 'leaflet/dist/leaflet'
import { LMarker, LTooltip } from 'vue2-leaflet';

export default {
  name: 'GeoRefMapMarker',
  props: {
    item: {
      type: Object,
      required: true
    },
  },
  methods: {
    clicked: function() {
      window.location = this.item.links.url
    }
  },
  components: {
    LTooltip,
    LMarker,
  }
};
</script>
