<template>
  <div class="row">
    <div class="col-md-3" v-for="item in items">
      <b-card
        :img-src="item.attributes.thumb_url"
        img-top
        class="mb-3"
      >
        <b-card-text v-if="showDescription">
          {{item.attributes.description}}
        </b-card-text>
        <template v-slot:footer v-if="showFooter">
          <small class="text-muted">{{item.attributes.created_at}}</small>
        </template>
      </b-card>
    </div>
  </div>
</template>

<script>
module.exports = {
  props: {
    url: {
      type: String,
      required: true
    },
    showFooter: {
      type: Boolean,
      default: true,
    },
    showDescription: {
      type: Boolean,
      default: true,
    }
  },
  data: function () {
    return {
      items: null,
    }
  },
  mounted: function () {
    this.loadItems();
  },
  methods: {
    loadItems: function () {
      this.$http.get(this.url).then(response => {
        this.items = response.data.data;
      });
    },
  },
};
</script>
