<template>
  <b-overlay
    :show="show"
    :opacity="opacity"
    :blur="blur"
    rounded="sm"
  >
    <slot></slot>
    <template v-slot:overlay>
      <div class="text-center">
          <b-button
            variant="outline-secondary"
            pill
            size="sm"
            @click="show = false"
          >
            show
          </b-button>
        </div>
      </template>
  </b-overlay>
</template>

<script>
module.exports = {
  props: {
    blur: {
      type: String,
      default: '5px'
    },
    opacity: {
      type: Number,
      default: 0.95
    }
  },
  data: function() {
    return {
      show: true,
    }
  }
}
</script>
