<%-
  dropdown_link_options = {
    class: 'dropdown-item',
    icon_class: ['fw']
  }
-%>
<% if can?(:update, geo_ref) -%>
  <%= icon_link_to 'edit', _('Edit location'), edit_geo_ref_path(geo_ref), **dropdown_link_options %>
  <%= icon_link_to 'edit', _('Edit child items'), select_items_geo_ref_path(geo_ref), **dropdown_link_options %>
  <div class="dropdown-divider"></div>
<% end -%>
<% if can?(:create, Comment.new(target: geo_ref, user: current_user)) -%>
  <%= icon_link_to Comment, _('Add comment'), new_geo_ref_comment_path(geo_ref), **dropdown_link_options %>
<% end -%>
<% if can?(:create, GeoRef.new(parent: geo_ref)) -%>
  <%- [
      Country,
      Region,
      Crag,
      Sector,
      Parking
    ].each do |type| -%>
    <%- if type.valid_parent_class?(geo_ref.class) -%>
      <%- label = case
                  when type == Country then _('Add country')
                  when type == Region  then _('Add region')
                  when type == Crag    then _('Add crag')
                  when type == Sector  then _('Add sector')
                  when type == Parking then _('Add parking')
                  end
      -%>
      <%= icon_link_to(
        type,
        label,
        new_geo_refs_path(type: type.to_s, parent_id: geo_ref.id),
        **dropdown_link_options
      ) %>
    <%- end -%>
  <%- end -%>
<%- end -%>
<% if geo_ref.is_a?(Crag) && can?(:create, Route.new(geo_ref: geo_ref)) -%>
  <%= icon_link_to Route, _('Add route'), new_geo_ref_route_path(geo_ref), **dropdown_link_options %>
<%- end -%>
<% if can?(:create, Photo.new(target: geo_ref, user: current_user)) -%>
  <%= icon_link_to Photo, _('Add photo'), new_geo_ref_photo_path(geo_ref), **dropdown_link_options %>
<% end -%>
<% if can?(:create, Topo.new(target: geo_ref)) -%>
  <%= icon_link_to Topo, _('Add topo'), new_geo_ref_topo_path(geo_ref), **dropdown_link_options %>
<% end -%>
<% if SecondaryZone.valid_geo_ref_type?(geo_ref.class) && can?(:create, SecondaryZone.new(geo_ref: geo_ref)) -%>
  <%= icon_link_to SecondaryZone, _('Add climbing zone'), new_geo_ref_secondary_zone_path(geo_ref), **dropdown_link_options %>
<% end -%>
<% if Closure.valid_geo_ref_type?(geo_ref.class) && can?(:create, Closure.new(geo_ref: geo_ref)) -%>
  <%= icon_link_to Closure, _('Add closure'), new_with_template_geo_ref_closures_path(geo_ref), **dropdown_link_options %>
<% end -%>
<% if Regulation.valid_geo_ref_type?(geo_ref.class) && can?(:create, Regulation.new(geo_ref: geo_ref)) -%>
  <%= icon_link_to Regulation, _('Add climbing regulation'), new_geo_ref_regulation_path(geo_ref), **dropdown_link_options %>
<% end -%>
<% if geo_ref.is_a?(Parking) && can?(:create, Path.new(geo_ref: geo_ref)) -%>
  <%= icon_link_to Path, _('Add path'), new_geo_ref_path_path(geo_ref), **dropdown_link_options %>
<% end -%>
