<%= render partial: 'photos/cover_photo', locals: { photo: geo_ref.photos.cover_photos.first } %>

<%- content_for :dropdown do -%>
  <%= render partial: 'geo_refs/dropdown', locals: { geo_ref: geo_ref } %>
<% end -%>

<%- content_for :breadcrumb do -%>
  <%= render partial: 'geo_refs/parent_breadcrumb_nav', :locals => { :geo_ref => geo_ref } %>
<%- end -%>

<%- content_for :title_right do -%>
  <% if geo_ref.orientation.present? -%>
    <div class="compass"><div class="compass-pointer" style="transform: rotate(<%= geo_ref.orientation %>deg)"></div></div>
  <% end -%>
  <% if geo_ref.height.present? -%>
    <div class="messure_height"><%= geo_ref.height %>m</div>
  <% end -%>
<% end -%>

<%- content_for :title do -%>
  <%= geo_ref.name %>
  <small><%= _(geo_ref.class.name) %></small>
  <%= render partial: 'geo_refs/access_level_badge', :locals => { :geo_ref => geo_ref } %>
  <%= render partial: 'geo_refs/routes_grade_stats', :locals => { :geo_ref => geo_ref } %>
<%- end -%>

<%- content_for :icon, geo_ref.icon -%>
