<%= simple_form_for([@route, @route_link]) do |form| -%>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :route_from,
    label: _('Route'),
    as: :string,
    disabled: true,
    input_html: { value: @route_link.route_from.name }
  ) %>
  <%= form.input(
    :anchor_number,
    label: _('Bolt number'),
    hint: _('Number of the first bolt in this route.')
  ) %>

  <%= form.input(
    :kind,
    as: :hidden
  ) %>
  <%= form.input(
    :description,
    label: _('Description'),
    hint: _('Additional remarks regarding the route.'),
  ) %>

  <h3><%= _('Target Route') %></h3>

  <%= form.input(
    :route_to,
    label: _('Route'),
    as: :autocomplete,
    autocomplete_url: autocomplete_geo_ref_routes_path(@route.geo_ref),
  ) %>
  <%= form.input(
    :first_anchor_number,
    label: _('First used bolt'),
    hint: _('The number of the first bolt used.')
  ) if @route_link.supports_first_anchor_number? %>
  <%= form.input(
    :last_anchor_number,
    label: _('Last used bolt'),
    hint: _('The number of the last bolt used.')
  ) if @route_link.supports_last_anchor_number? %>

  <%= form.button :submit %>
<% end -%>
