<li>
  <% unless @base_object == current_user %>
    <div class="thumb">
      <%= render partial: 'users/avatar', :locals => { user: item.user } %>
    </div>
  <%- end -%>
  <div class="controls">
    <%- if can? :edit, item -%>
      <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_user_ticklist_path(item.user, item), class: 'btn btn-success btn-sm' %>
    <%- end -%>
    <%- if @base_object == current_user -%>
      <%= link_to '<span class="fa fa-check"></span>'.html_safe, new_route_ascent_path(item.route), class: 'btn btn-success btn-sm' %>
    <%- end -%>
  </div>
  <div class="title">
    <% if @base_object == current_user %>
      <%= link_to item.route.geo_ref.name, geo_ref_path(item.route.geo_ref) %> /
      <%= link_to item.route.name, item.route %>
    <%- else -%>
      <%- if can? :read, item.user -%>
        <%= link_to item.user.display_name, item.user %>
      <%- else -%>
        <%= _('Anonymous user') %>
      <%- end -%>
      <%= _('ticklisted %{link}').html_safe % { link: link_to(item.route.name, route_path(item.route.id)) } %>
    <%- end -%>
    <%= render partial: 'grades/grade_badge', :locals => { :grade => item.route.grade } %>
  </div>
  <div class="description">
    <% if @base_object == current_user %>
      <%= item.comment %>
    <%- else -%>
      at <%= link_to item.route.geo_ref.name, geo_ref_path(item.route.geo_ref) %>.
    <% end -%>
  </div>
</li>
