<% content_for :buttons do %>
  <%= link_to(
    "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe,
      @regulated_geo_ref,
      method: :delete,
      data: { confirm: _('Are you sure?') },
      class: 'btn btn-danger pull-right'
    ) %>
<% end %>
<% content_for :title, _('Editing regulated location') %>
<% content_for :icon, @regulated_geo_ref.icon %>

<%= render 'form', regulated_geo_ref: @regulated_geo_ref %>
