<%= render_navigation do |primary|
  primary.item(
    :info,
    {
      icon: 'info',
      text: _('Info'),
    },
    admin_product_path(product)
  )
  primary.item(
    :routes,
    {
      icon: Route.icon,
      text: "#{_('Routes')} <span class=\"badge badge-secondary\">#{product.routes.distinct.count}</span>".html_safe,
    },
    routes_admin_product_path(product)
  )
  primary.item(
    :stats,
    {
      icon: 'bar-chart',
      text: _('Statistics'),
    },
    stats_admin_product_path(product)
  )
  primary.dom_class = 'nav nav-tabs mb-3'
end %>
