<% content_for :title, _('Editing product') %>
<% content_for :icon, @product.icon %>

<% content_for :buttons do %>
  <% if can?(:admin, @product) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, admin_product_path(@product), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<%= render 'form' %>
