<% content_for :buttons do %>
  <% if can?(:admin, @product) -%>
    <%= link_to(
      "<span class=\"fa fa-pencil\"></span> #{_('Edit')}".html_safe,
      edit_admin_product_path(@product),
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<% content_for :title do -%>
  <%= _('Product: %{name}') % { name: @product.name } %>
  <%- if @product.generic? -%>
    <small>(<%= _('generic') %>)</small>
  <%- end -%>
<%- end -%>
<% content_for :icon, @product.icon %>

<%= markdown(@product.description) unless @product.description.blank? %>

<%= thumbnail_tag(@product.photo, size: :list_preview, class: 'mb-3') %>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= _('Vendor') %></th>
      <td><%= if @product.vendor.present?
                link_to(@product.vendor.name, admin_vendor_path(@product.vendor))
              else
                '-'
              end %></td>
    </tr>
    <tr>
      <th><%= _('Article number') %></th>
      <td><%= @product.article_number || '-' %></td>
    </tr>
    <tr>
      <th><%= _('Type') %></th>
      <td><%= _(@product.kind) || '-' %></td>
    </tr>
    <tr>
      <th><%= _('Standard') %></th>
      <td><%= @product.standard || '-' %></td>
    </tr>
    <tr>
      <th><%= _('URL') %></th>
      <td><%= if @product.url.present?
                link_to(@product.url, @product.url)
              else
                '-'
              end %></td>
    </tr>
  </tbody>
</table>
