<%= render partial: 'geo_refs/head', locals: { geo_ref: @geo_ref } %>
<%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @geo_ref } %>

<%= search_form_for [@geo_ref&.as_base_class, @q] do |f| %>
  <div class="form-group">
    <%= f.label _('Name') %>
    <div class="input-group">
      <%= f.search_field :name_cont, :class => 'form-control', :placeholder => _('Search by name...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<ul class="content-list">
  <% @approaches.each do |path| -%>
    <%= render partial: 'paths/content-list/default', locals: { item: path } %>
  <% end -%>
</ul>

<%= paginate @approaches %>
