<% content_for :buttons do %>
  <% if can?(:destroy, @photo) -%>
    <%= link_to '<span class="fa fa-trash"></span> Delete'.html_safe, @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
<% end %>
<% content_for :title, _('Editing photo') %>
<% content_for :icon, @photo.icon %>

<%= render 'form' %>
