<%- if @base_object.is_a?(Route) -%>
  <%= render partial: 'routes/head', locals: { route: @base_object } %>
  <%= render partial: 'routes/secondary_tab_nav', locals: { route: @base_object } %>
<%- elsif @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- elsif @base_object.is_a?(User) -%>
  <%- content_for :title, _('My Photos') -%>
  <% content_for :icon, Photo.icon -%>
<%- else -%>
  <%- content_for :title, _('All Photos') -%>
  <% content_for :icon, Photo.icon -%>
<%- end -%>

<ul class="content-list">
  <% @photos.each do |photo| %>
    <%= render partial: 'photos/content-list/default', :locals => { :item => photo } %>
  <% end %>
</ul>

<%= paginate @photos %>
