<% content_for :buttons do %>
  <% if can?(:create, FirstAscentPerson) -%>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('New person')}".html_safe,
      new_first_ascent_person_path,
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<% content_for :title, _('People doing first ascents') %>
<% content_for :icon, FirstAscentPerson.icon %>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label _('Search') %>
    <div class="input-group">
      <%= f.search_field :search_full_text, class: 'form-control', placeholder: _('Search terms...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<hr/>

<ul class="content-list">
  <% @first_ascent_people.each do |first_ascent_person| %>
    <%= render(
      partial: 'first_ascent_people/content-list/default',
      locals: {
        item: first_ascent_person,
        count: @fa_counts[first_ascent_person.id]
      }
    ) %>
  <% end %>
</ul>

<%= paginate @first_ascent_people %>
