<%= simple_form_for([@base_object&.as_base_class, route]) do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <h3 class="page-header"><%= _('General information') %></h3>
  <%= form.input(
    :name,
    label: _('Name')
  ) %>
  <%= form.input(
    :alternative_names,
    label: _('Alternative names'),
    as: :tags,
  ) %>
  <%= form.input(
    :description,
    label: _('Summary'),
    placeholder: _('Short description of the route...')
  ) %>
  <%= form.input(
    :body,
    label: _('Description'),
    placeholder: 'Long description, facts, history...'
  ) %>
  <%= form.input(
    :grade,
    label: _('Grade'),
    as: :autocomplete,
    autocomplete_url: autocomplete_grades_path,
    label_field: :grade,
    min_length: 1
  ) %>
  <%= form.input(
    :pitches,
    label: _('Pitches'),
    as: :integer
  ) %>
  <%= form.input(
    :first_ascent_person,
    label: _('First ascent person'),
    as: :autocomplete,
    autocomplete_url: autocomplete_first_ascent_people_path,
  ) %>
  <%= form.input(
    :first_ascent_date,
    label: _('First ascent date'),
    as: :partial_date,
    prefix: 'first_ascent'
  ) %>

  <%= render partial: 'taggables/form', locals: { form: form, target: route } %>

  <%= form.button :submit %>
<% end %>
