<%= render partial: 'routes/head', locals: { route: @route } %>
<%= render partial: 'routes/secondary_tab_nav', locals: { route: @route } %>

<% @route.applicable_closures.each do |closure| -%>
  <%= render partial: 'closures/alert', locals: { closure: closure } %>
<% end -%>
<%- if @route.alternative_names.any? -%>
  <%= _('Other names') %>: <%= @route.alternative_names.join(', ') %>
<%- end -%>
<%- @route_links_from.each do |route_link| -%>
  <%= render partial: 'route_links/route_from', locals: { route_link: route_link } %>
<%- end -%>
<%- @route_links_to.each do |route_link| -%>
  <%= render partial: 'route_links/route_to', locals: { route_link: route_link } %>
<%- end -%>

<p><em><%= @route.description %></em></p>

<%= render partial: 'taggables/tags_by_category', :locals => { :tags => @route.tags } %>

<% if @route.pitches.present? %>
  <p>
    <strong><%= _('Pitches') %>:</strong>
    <%= @route.pitches %>
  </p>
<% end %>

<% if @route.first_ascent_person.present? %>
  <p>
    <strong><%= _('First ascent') %>:</strong>
    <%= link_to @route.first_ascent_person.name, @route.first_ascent_person %>
  </p>
<% end %>

<% if @route.first_ascent_year.present? %>
  <p>
    <strong><%= _('First ascent') %>:</strong>
    <%= @route.first_ascent_date.reject(&:nil?).join('-') %>
  </p>
<% end %>

<% if @route.body.present? %>
  <hr></hr>

  <%= markdown(@route.body) %>
<% end %>
