<%- include_geo_ref ||= false %>
<li>
  <div class="controls">
    <%- unless item.start_at.nil? || item.end_at.nil? -%>
      <small>
        <%= _('From %{start_date} to %{end_date}') % {
          start_date: l(item.start_at),
          end_date: l(item.end_at),
        } %>
      </small>
    <%- end -%>
  </div>
  <div class="title">
    <%- if include_geo_ref -%>
      <%= link_to item.geo_ref.name, geo_ref_closures_path(item.geo_ref) %> /
    <%- end -%>
    <%= link_to item.description, item %>
    <%- if item.active? -%>
      <i class="fa fa-lock text-danger" aria-hidden="true"></i>
    <%- else -%>
      <i class="fa fa-unlock text-success" aria-hidden="true"></i>
    <%- end -%>
    <small><%= _(item.kind) %></small>
  </div>
    <div class="description">
      <%- if item.geo_refs.any? -%>
        <%= item.geo_refs.map { |gr| icon_link_to gr, gr.name, geo_ref_path(gr), class: 'text-secondary' }.join(' ').html_safe %>
      <%- end -%>
      <%- if item.routes.any? -%>
        <%= item.routes.map { |r| icon_link_to r, r.name, route_path(r), class: 'text-secondary' }.join(' ').html_safe %>
      <%- end -%>
    </div>
</li>
