<%- anchor_number ||= nil %>
<%- show_route ||= nil %>
<li>
  <div class="controls">
    <%- if can? :update, item -%>
      <%= link_to(
        '<span class="fa fa-remove"></span>'.html_safe,
        remove_route_inventory_path(@route, item),
        method: :put,
        class: 'btn btn-outline-secondary btn-sm',
        data: { toggle: 'tooltip', placement: 'top' },
        title: _('Mark inventory as removed'),
      ) if item.removed_at.blank? %>
      <%= link_to(
        '<span class="fa fa-pencil"></span>'.html_safe,
        edit_route_inventory_path(@route, item),
        class: 'btn btn-outline-success btn-sm'
      ) %>
    <%- end -%>
    <%- if item.installed_at.present? -%>
      <br><small><%= _('installed on %{date}') % { date: item.installed_at } %></small>
    <%- end -%>
    <%- if item.removed_at.present? -%>
      <br><small><%= _('removed on %{date}') % { date: item.removed_at } %></small>
    <%- end -%>
  </div>
  <div class="title">
    <a href="<%= route_inventory_path(@route, item) %>">
    <%= anchor_number || item.anchor_number %>
    -
    <%- if show_route -%>
      <%= item.route.name %> /
    <%- end -%>
    <%= item.role.blank? ? _('other') : _(item.role) %>
    <small><%= _(item.product.kind) %></small>
    </a>
  </div>
  <div class="content">
    <%- if item.product.present? -%>
      <%= item.product.name %>
      <%- if item.product.generic? -%>
        (<%= _('generic') %>)
      <%- end -%>
    <%- end -%>
    <%- if item.description.present? %>
      <br><%= item.description %>
    <%- end -%>
  </div>
</li>
