<%= simple_form_for([@base_object&.as_base_class, @closure]) do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input :description %>
  <%= form.input(
    :kind,
    label: _('Closure type'),
    collection: Closure.kinds.map { |k| [_(k), k] },
    hint: 'Type of closure',
    include_blank: false
  )%>

  <h3><%= _('Regular start') %></h3>

  <div class="row">
    <div class="col-sm-6">
      <%= form.input(
        :regular_start_day_of_month, 
        label: _('Day of month'),
        as: :select,
        collection: 1..31,
        hint: _('Regular day of month when closure is active.')
      ) %>
    </div>
    <div class="col-sm-6">
      <%= form.input(
        :regular_start_month, 
        label: _('Month'),
        as: :month_select,
        hint: _('Regular month when closure is active.')
      ) %>
    </div>
  </div>

  <h3><%= _('Regular end') %></h3>

  <div class="row">
    <div class="col-sm-6">
      <%= form.input(
        :regular_end_day_of_month, 
        label: _('Day of month'),
        as: :select,
        collection: 1..31,
        hint: _('Regular day of month when closure is active.')
      ) %>
    </div>
    <div class="col-sm-6">
      <%= form.input(
        :regular_end_month, 
        label: _('Month'),
        as: :month_select,
        hint: _('Regular month when closure is active.')
      ) %>
    </div>
  </div>

  <%= form.button :submit %>
<% end %>
