<% content_for :title, _('Add affected route') %>
<% content_for :icon, Route.icon %>
<%= simple_form_for(@add_route_params, url: add_route_closure_path(@closure), method: :post) do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :route,
    label: _('Route'),
    hint: _('Additional route to add to the closure.'),
    as: :autocomplete,
    type: :object,
    autocomplete_url: autocomplete_routes_path
  ) %>
  <%= form.button :submit, _('Add route') %>
<% end %>
