<% content_for :title, _('Add affected location') %>
<% content_for :icon, GeoRef.icon %>
<%= simple_form_for(@add_geo_ref_params, url: add_geo_ref_closure_path(@closure), method: :post) do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :geo_ref,
    label: _('Location'),
    hint: _('Additional location to add to the closure.'),
    as: :autocomplete,
    type: :object,
    autocomplete_url: autocomplete_geo_refs_path
  ) %>
  <%= form.button :submit, _('Add location') %>
<% end %>
