<%- content_for :dropdown do -%>
  <%= render partial: 'closures/dropdown', locals: { closure: @closure } %>
<% end -%>

<%- content_for :breadcrumb do -%>
  <%= render(
    partial: 'geo_refs/parent_breadcrumb_nav',
    locals: {
      geo_ref: @closure.geo_ref,
      include_self: true
    }
  ) %>
<%- end -%>

<% content_for :title, @closure.description %>
<% content_for :icon, @closure.icon %>

<table class="table">
  <tr>
    <th><%= _('Current status') %></th>
    <td>
      <%- if @closure.active? -%>
        <i class="fa fa-lock text-danger" aria-hidden="true"></i> <%= _('closed') %>
      <%- else -%>
        <i class="fa fa-unlock text-success" aria-hidden="true"></i> <%= _('open') %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= _('Closure type') %></th>
    <td><%= _(@closure.kind) %>
  </tr>
  <%- fmt = proc { |d| d.nil? ? 'xx' : "%02d" % d } -%>
  <tr>
    <th><%= _('Regular start') %></th>
    <td>xxxx-<%= fmt.call(@closure.regular_start_month) %>-<%= fmt.call(@closure.regular_start_day_of_month) %>
  </tr>
  <tr>
    <th><%= _('Regular end') %></th>
    <td>xxxx-<%= fmt.call(@closure.regular_end_day_of_month) %>-<%= fmt.call(@closure.regular_end_month) %>
  </tr>
  <tr>
    <th><%= _('Effective start') %></th>
    <td><%= @closure.start_at %></td>
  </tr>
  <tr>
    <th><%= _('Effective end') %></th>
    <td><%= @closure.end_at %></td>
  </tr>
</table>

<h3><%= icon_for SeasonClosure %> <%= _('Extraordinary closures') %></h3>

<ul class="content-list">
  <% @closure.season_closures.each do |sc| -%>
    <%= render(
      partial: 'season_closures/content-list/default',
      locals: {
        item: sc,
        active_item: @closure.current_season_closure
      }
    ) %>
  <% end -%>
</ul>

<h3 class="mt-3"><%= icon_for GeoRef %> <%= _('Affected locations') %></h3>

<ul class="content-list">
  <% @closure.geo_refs.accessible_by(current_ability, :read).each do |geo_ref| -%>
    <%- if can?(:update, @closure) && can?(:update, geo_ref) -%>
      <%- controls = capture do -%>
        <%= link_to '<span class="fa fa-trash"></span>'.html_safe, remove_geo_ref_closure_path(@closure, geo_ref_id: geo_ref.id), class: 'btn btn-success btn-sm', method: :post %>
      <%- end -%>
    <%- end -%>
    <%= render(
      partial: 'geo_refs/content-list/default',
      locals: {
        item: geo_ref,
        controls: controls
      }
    ) %>
  <% end -%>
</ul>

<h3 class="mt-3"><%= icon_for Route %> <%= _('Affected routes') %></h3>

<ul class="content-list">
  <% @closure.routes.accessible_by(current_ability, :read).each do |route| -%>
    <%- if can?(:update, @closure) && can?(:update, route) -%>
      <%- controls = capture do -%>
        <%= link_to '<span class="fa fa-trash"></span>'.html_safe, remove_route_closure_path(@closure, route_id: route.id), class: 'btn btn-success btn-sm', method: :post %>
      <%- end -%>
    <%- end -%>
    <%= render(
      partial: 'routes/content-list/default',
      locals: {
        item: route,
        controls: controls
      }
    ) %>
  <% end -%>
</ul>
