<%= simple_form_for([current_user, @ticklist]) do |f| %>
  <%= back_button %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input(
      :route,
      label: _('Route'),
      as: :autocomplete,
      autocomplete_url: autocomplete_routes_path,
    ) %>
    <%= f.input(
      :comment,
      label: _('Comment')
    ) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
