<%
  tags_by_category = {}
Tag.where(model: target.class.name).order(:category, :name).each do |t|
    tags_by_category[t.category] = [] unless tags_by_category.has_key?(t.category)
    tags_by_category[t.category] << ["#{t.name} (#{_(t.description)})", t.id]
  end
-%>
<%- return if tags_by_category.empty? -%>
<h3 class="page-header"><%= _('Tags') %></h3>
<% tags_by_category.each do |cat,collection| -%>
  <%= form.association :tags, label: cat.capitalize, as: :check_boxes, collection: collection %>
<% end -%>
