<li>
  <div class="controls">
    <%= _('created %{time_ago_in_words} ago') % { time_ago_in_words: time_ago_in_words(item.created_at) } %>
  </div>
  <div class="title">
    <%= link_to item.name, admin_product_path(item) %>
    <%- if item.generic? -%>
      <small>(<%= _('generic') %>)</small>
    <%- end -%>
    <small><%= _(item.kind) %></small>
  </div>
  <div class="content">
    <%- if item.vendor.present? -%>
      <%= item.vendor.name %> - <%= item.article_number %>
    <%- end -%>
  </div>
</li>
