<% content_for :title, _('User Settings') %>
<% content_for :icon, User.icon %>

<%= render_navigation &tab_nav %>

<%= simple_form_for(@user, url: profile_path) do |form| %>
  <%= form.error_notification %>

  <h3><%= _('Profile options') %></h3>
  
  <%= form.input :avatar, as: :file %>

  <%=
    begin 
      image_tag(@user.avatar.variant(resize_to_limit: [200,200]), class: 'img-circle') if @user.avatar.attached?
    rescue ActiveStorage::InvariableError
      # in case of invalid upload the preview will fail
    end
  %>

  <%= form.input(
    :email,
    disabled: true,
    hint: _('Your email address. Cannot be changed.')
  ) %>
  <%= form.input(
    :name,
    hint: _('Name of your profile. Will be visisble for you comments, ascents, ...')
  ) %>
  <%= form.input(
    :bio,
    label: _('Biography'),
    as: :text,
    hint: _('Some words about you that will be showen in your profile.'),
    input_html: { rows: 10 }
  ) %>

  <h3><%= _('Language settings') %></h3>

  <%= form.input(
    :locale,
    label: _('Language'),
    collection: Routenbuch.selectable_locales.map do |k,v|
      ["#{v} (#{k})", k]
    end.to_h,
    hint: _('Your prefered language. If empty your browsers language will be used.'),
  ) %>

  <h3><%= _('Privacy') %></h3>

  <p><%= _('If and how others can see you and your content.') %></p>

  <p><%= _('Access levels') %>:</p>
  <ul>
    <li><b>private</b> - <%= _('only you can see it') %></li>
    <li><b>internal</b> - <%= _('only logged in users can see it') %></li>
    <%- if Routenbuch.public? -%>
      <li><b>public</b> - <%= _('everyone can see it') %></li>
    <%- end -%>
  </ul>

  <%= form.input(
    :access,
    label: _('User profile access'),
    as: :access_level,
    hint: _('Who can see your user profile.')
  ) %>
  <%= form.input(
    :ascents_access,
    label: _('Access level'),
    as: :access_level,
    hint: _('Who can see your ascents.')
  ) if Routenbuch.features.ascents? %>
  <%= form.input(
    :ticklists_access,
    label: _('Ticklist access'),
    as: :access_level,
    hint: _('Who can see your ticklist items.')
  ) if Routenbuch.features.ticklists? %>

  <%= form.button :submit, _('Save profile settings') %>
<% end %>
