<%= simple_form_for [@closure, @season_closure] do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input :description %>

  <%= form.input(
    :year, 
    label: _('Year'),
    hint: _('Year this season closure applies to')
  ) %>

  <h3><%= _('Start') %></h3>

  <div class="row">
    <div class="col-sm-6">
      <%= form.input(
        :start_day_of_month, 
        label: _('Day of month'),
        as: :select,
        collection: 1..31,
        hint: _('Day of month when closure is active.')
      ) %>
    </div>
    <div class="col-sm-6">
      <%= form.input(
        :start_month, 
        label: _('Month'),
        as: :month_select,
        hint: _('Month when closure is active.')
      ) %>
    </div>
  </div>

  <h3><%= _('End') %></h3>

  <div class="row">
    <div class="col-sm-6">
      <%= form.input(
        :end_day_of_month, 
        label: _('Day of month'),
        as: :select,
        collection: 1..31,
        hint: _('Day of month when closure is active.')
      ) %>
    </div>
    <div class="col-sm-6">
      <%= form.input(
        :end_month, 
        label: _('Month'),
        as: :month_select,
        hint: _('Month when closure is active.')
      ) %>
    </div>
  </div>

  <%= form.button :submit %>
<% end %>
